# UI
streamlit

# XINGCHEN
xingchen

# DASHSCOPE
dashscope

# volcengin
volcengine-python-sdk

# ZHIPUAI
zhipuai

# minimax
openai

# FAKEPATIENT
faker

# BAIDU
qianfan

# TENCENT
tencentcloud-sdk-python

